*{
    background-color:lavenderblush;
}

.bodytext{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black
}

.specialtext{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(173, 0, 92);
}

.captiontext{
    font-style: italic;
    font-size: small;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(86, 4, 121);
    outline-style: dashed;
    outline-color: darkorchid;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

h2, h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(86, 4, 121);
}

table, th, td{
    border: 1px solid black
}

ul.navigationbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blueviolet
}
li.navigation{
    float: left;
}
li.navigation a{
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: blueviolet
}
li.navigation a:hover {
    background-color: #111;
}

#disciplines{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:darkmagenta;
    font-weight: bolder;
}

a{
    color: darkorchid;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: white;
    }
  }





div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}